* {
    box-sizing: border-box; <!-- Чтобы при паддинге не менялся сам блок, меняется положение элемента -->
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background: #ffffff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    margin-bottom: 85px;
}

p {
    font-size: 18px;
    line-height: 28px;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
}